.offer {
    min-height: 521px;
    background: linear-gradient(180deg, #303D4E 0%, #25303F 97.4%);
    color: #FFFFFF;
    padding-top: 21px;
    padding-bottom: 20px;
    border-radius:10px;
    &__heading {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    &__icon {
        width: 58px;
        height: 58px;
    }
    &__text {
        margin-left: 23px;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__description {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
    }
}